
@{
    ViewBag.Title = "Select";
    Layout = "~/Views/Shared/_LayoutBacks.cshtml";
}
<script>
    function cz() {
        $("input:lt(2)").val("");
        alert();
        $("select").val("1");
    }
</script>
    <div>
        <div>
            <form action="Select" method="post">
                <label>面积：</label><input name="size" class="form-control" type="text" />
                <div>
                    <label>月租：</label><input name="monthly" class="form-control" type="text" />
                </div>
                <div>
                    <label>房屋种类：</label>
                    <select name="house" class="form-control">
                        <option value="1">--请选择--</option>
                        <option value="平房">平房</option>
                        <option value="楼房">楼房</option>
                        <option value="独栋">独栋</option>
                        <option value="其他">其他</option>
                    </select>
                </div>
                <div>
                    <label>户型：</label>
                    <select name="style" class="form-control">
                        <option value="1">--请选择--</option>
                        <option value="一厅一室">一厅一室</option>
                        <option value="二厅一室">二厅一室</option>
                        <option value="三厅一室">三厅一室</option>
                        <option value="三室两厅">三室两厅</option>
                        <option value="豪华别墅">豪华别墅</option>
                    </select>
                </div>
                <div>
                    <label>装修情况：</label>
                    <select name="trimstate" class="form-control">
                        <option value="1">--请选择--</option>
                        <option value="低档装修">低档装修</option>
                        <option value="中档装修">中档装修</option>
                        <option value="高档装修">高档装修</option>
                    </select>
                </div>
                <input class="btn btn-info" type="submit" value="查询"/><input class="btn btn-info button" onclick="cz()" type="button" value="重置"/>
            </form>
        </div>

        <div>
            <table class="table">
                <tr class="tr">
                    <th class="th1">房主</th>
                    <th class="th2">联系电话</th>
                    <th class="th3">面积</th>
                    <th class="th4">月租</th>
                    <th class="th5">房屋类别</th>
                    <th class="th6">房屋样式</th>
                    <th class="th7">装修档次</th>
                    <th class="th8">地址</th>
                    <th class="th9">用途</th>
                    <th class="th0">状态</th>
                </tr>
            </table>

            <div style="overflow:scroll;height:280px">
                <table class="table table-hover .thead-light 500">
                    @if (ViewBag.select!=null)
                    {

                    foreach (var item in ViewBag.select as List<intermediary.Models.Addhouse>)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Phone</td>
                            <td>@item.size</td>
                            <td>@item.monthly</td>
                            <td>@item.house</td>
                            <td>@item.style</td>
                            <td>@item.trimstate</td>
                            <td>@item.address</td>
                            <td>@item.purpose</td>
                            <td>@item.housestate</td>
                        </tr>
                    }
                    }
                </table>
            </div>
        </div>
    </div>